@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-family: 'Open Sans', sans-serif;
$font-size:16px;
$primary-color: #38a4ef;

body {
    font-size: $font-size;
    font-family: $font-family;
    width:100%;
    min-height:100%;
    background-color:$primary-color;
    padding:0;
    margin:0;
    .main {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width:50%;
        h1,h2 {
            text-align:center;
            margin:0;
            padding:0;
            color:#fff;
        }
        .password-container {
            margin-top:2rem;
            background-color:#fff;
            padding:2rem 4rem;
            border-radius:5px;
            box-shadow: 15px 15px 0 0 rgba(0,0,0,.20);
            .password {
                margin:2rem 0;
                position: relative;
                input {
                    width:calc(100% - (24px + 1rem));
                    padding:1rem;
                    border:1px solid #c2c2c2;
                    border-radius: 5px;
                    background-color:#f8f8f8;
                    font-family: $font-family;
                    font-size: $font-size;
                    color:#333;
                    &:focus {
                        outline:none;
                    }
                    &::placeholder {
                        color: rgba(0,0,0,.75)
                    }
                }
                span {
                    position: absolute;
                    right:20px;
                    top:50%;
                    width:24px;
                    height:24px;
                    transform: translateY(-50%);
                    cursor: pointer;
                    background: url('/img/show.svg')
                }
            }
        }
    }
}